01-Task-1/01-Node/package-lock.json
01-Task-1/01-Node/node_modules/
02-Task-2/01-Node/Deployment/kustomization.disabled
02-Task-2/01-Node/Deployment/patch-deploy-replicas.disabled
02-Task-2/01-Node/Deployment/patch-deploy.disabled
02-Task-2/01-Node/HPA/patch-deploy.disabled
02-Task-2/01-Node/HPA/patch-deploy.yaml
02-Task-2/01-Node/Ingress/deployaks.yaml
02-Task-2/test.ts
Readme.tr.md
03-Task-3/terragrunt/tr-subscr/.terraform.lock.hcl
03-Task-3/terragrunt/tr-subscr/.terragrunt-cache/
02-Task-3-Helm/terragrunt/tr-subscr-helm/.terraform.lock.hcl
02-Task-3-Helm/terragrunt/tr-subscr-helm/.terragrunt-cache/
04-Task-4/terraform/terragrunt/tr-subscr/.terraform.lock.hcl
/04-Task-4/terraform/terragrunt/tr-subscr/.terragrunt-cache
/04-Task-4/ansible
04-Task-4/READMEOLD.md
02-Task-3-Helm/README_old.md
02-Task-2/01-Node/README_old.md
